<h4>header works!</h4>

<ul>
    <!-- ngFor -->
    <!-- hobbies.map((activ) => (
        <li>activ</li>
    )) -->
    <li *ngFor="let activ of hobbies">
        {{activ}}
    </li>
</ul>
<div>
    <p>Puedo ejecutar codigo de JS con doble llave</p>
    {{100 + 50}}
</div>

<!-- ngIf -->
<!-- renderizado condicional -->
<div *ngIf="meQuiere else noMeQuiere">
    Les deseo lo mejor 😊
</div>
<!-- comodin -->
<ng-template #noMeQuiere>
    No me quiere entonces Party Hard 🥲🎉
</ng-template>

<!-- PropertyBinding []: va del .ts al .html -->
<img [src]="url" alt="img">

<!-- Event Binding () va del .html hacia el .ts-->
<button (click)="agregarNuevoHobbie()">
    Nuevo Hobbie!
</button>