/* cuando utilizo el símbolo > estoy haciendo referencia a los primeros hijos*/

ol > li {
    color: purple;
}

ul > li {
    color: orangered;
}

/* todos los elementos que esten dentro a cualquier nivel van a ocupar estas propiedades */

.heading h1 {
    background-color: aquamarine;
}

/* esta afectando a todos los p hijos en cualquier nivel */
.textos p {
    color: blueviolet;
}

/* esta afectando a solamente los p hijos en un primer nivel */
.textos > p {
    background-color: chocolate;
}

/* PSEUDOCLASES */
/* los tr que esten dentro de tbody que sean impares  */
/* odd = impares, even = pares */
tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}

tbody tr:nth-of-type(even) {
    background: gray;
}

tbody tr:hover {
    background-color: lightblue;
    cursor: pointer;
}
