/* cuando utilizo el símbolo > estoy haciendo referencia a los primeros hijos*/

ol > li {
    color: purple;
}

ul > li {
    color: orangered;
}

/* todos los elementos que esten dentro a cualquier nivel van a ocupar estas propiedades */

.heading h1 {
    background-color: aquamarine;
}

/* esta afectando a todos los p hijos en cualquier nivel */
.textos p {
    color: blueviolet;
}

/* esta afectando a solamente los p hijos en un primer nivel */
.textos > p {
    background-color: chocolate;
}
