* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    border: 2px solid red;
    min-height: 100vh;
    display: grid;
    /* GRID EXPLÍCITO */
    /* grid-template-columns: tamaño X veces, y esas X veces se generaran X columnas */
    /* columnas */
    /* fr = free space  = fractions*/
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* repeat: (Cantidad, un tamaño) */
    /* grid-template-columns: repeat(4, 150px); */
    /* minmax(tam_min,tam_max) */
    grid-template-columns: repeat(3, minmax(100px, 300px));

    /* filas */
    /* grid-template-rows: 250px 250px 250px; */
    grid-template-rows: repeat(3, minmax(200px, 400px));

    /* brecha */
    /* gap: vertical horizontal */
    gap: 40px 40px;

    /* padding: 40px; */

    /* GRID IMPLÍCITO */
    /* para los elementos que se han desplazado que estan "sobrando" */
    /* repeat y minmax normal */
    grid-auto-columns: 400px;
    grid-auto-rows: 275px;
    grid-auto-flow: column; /*según el flow se desplazan hacia la derecha o hacia abajo*/
}

.item {
    border: 2px solid blue;
}

.item:nth-of-type(1) {
    /* grid-: inicio / final */
    /* según las alineaciones */
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
