/* estado1 */
.cajita {
    width: 250px;
    height: 250px;
    border: 2px solid red;
    background-color: lightseagreen;

    /* propiedades de transición */
    /* afectar a todo */
    transition-property: all;
    /* transition-duration: 1000ms; */
    transition-duration: 1s;
    transition-delay: 0.5s;
    /* acelaración de la transición */
    transition-timing-function: ease-in-out;
}

/* estado2 */
.cajita:hover {
    background-color: purple;
    border-radius: 50%;
    /* transformación */
    /* valor entero que es porcentual */
    /* transform: scale(2); */
    transform: translate(100px, 200px);
    /* transform: translate3d(500px, 20px, 600px); */
    /* transform: rotate(180deg); */
    /* transform: skewY(45deg); */
    /* transform: skewX(45deg); */
}

#imagen {
    width: 700px;
    /* opacity: 0 a 1 (porcentual) */
    opacity: 0.5;
}

#imagen:hover {
    opacity: 1;
    transform: scale(1.02);
    /* box-shadow ejeX ejeY Tamaño color */
    box-shadow: 0 0 10px steelblue;
    transition-property: all;
    transition-duration: 1s;
}
