/* variables, inicio */
/* para poner variables, que puedo referenciar después */
:root {
    --color1: #2091f9;
    --color2: #eb2d7f;
    --color3: #252b42;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* temporal */
    border: 1px solid #ddd;
    /* color: var(--color1); */
}

/* footer */
footer {
    min-height: 250px;
    background-color: var(--color3);
    color: white;
}

footer .contenedor {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.card-footer {
    width: 25%;
}

.card-footer h3 {
    margin-bottom: 20px;
}
