/* variables, inicio */
/* para poner variables, que puedo referenciar después */
:root {
    --color1: #2091f9;
    --color2: #eb2d7f;
    --color3: #252b42;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* temporal */
    border: 1px solid red;
    /* color: var(--color1); */
}

/* generales */
.contenedor {
    max-width: 1000px;
    /* margin y para padding */
    /* margin: arribaYabajo(0) derechaEizquierda(auto) */
    /* auto = navegador encargate */
    margin: 0 auto;
}

section {
    margin-bottom: 120px;
}

button {
    border: 0;
    /* redondeado del borde */
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    background-color: var(--color1);
}

button:hover {
    background-color: var(--color2);
    /* font.weight: grosor de la fuente */
    font-weight: bold;
    cursor: pointer;
}

/* section conócenos */

.conocenos {
    text-align: center;
}

.conocenos h2 {
    margin: 20px;
}

.caracteristicas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.tarjeta {
    width: 25%;
}

.tarjeta p {
    padding: 10px;
}

/* section lenguajes */
.lenguajes {
    display: flex;
}

.lenguajes-texto {
    padding: 30px;
}

.lenguajes-texto * {
    margin-top: 20px;
}

.pc {
    max-width: 500px;
}

/* footer */
footer {
    min-height: 250px;
    background-color: var(--color3);
    color: white;
}

footer .contenedor {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.card-footer {
    width: 25%;
}

.card-footer h3 {
    margin-bottom: 20px;
}
