/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* temp */
    border: 1px solid red;
}
/* padre */
.menu {
    height: 450px;
    background-color: aquamarine;
    /* flex */
    display: flex;
    /* horizontal */
    /* space-around, space-between, space-evenly */
    justify-content: space-evenly;
}
/* hijos */
.link {
    background: steelblue;
    color: white;
    height: 50px;
    width: 100px;
}
